<footer class="footer-c">
    <div class="footer">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        &nbsp;&nbsp; Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
</footer>